= form_for [@game, officer] do |f|
  %strong
    Name:
  = officer.name
  %br
  %strong
    Stats:
  %br
  = "DIP: #{officer.dip}"
  %br
  = "CMD: #{officer.cmd}"
  %br
  = "MED: #{officer.med}"
  %br
  = "TAC: #{officer.tac}"
  %br
  = "SCI: #{officer.sci}"
  %br
  .form-group
    = f.label :station
    - # @todo: Clean this up
    = f.select(:station, options_for_select([['Not Enlisted', nil], ['Captain', 'DIP'], ['First Officer', 'CMD'], ['Doctor', 'MED'], ['Sargent', 'TAC'], ['Scientist', 'SCI']], officer.station.to_s))
  .form-controls
    .text-right
      = f.submit "Assign", class: 'btn btn-default'
