= form_for [@game, officer] do |f|
  %strong
    Name:
  = officer.name
  %br
  %strong
    Stats:
  %br
  .text-right
    = "CMD: #{officer.cmd}"
    %br
    = "ENG: #{officer.eng}"
    %br
    = "MED: #{officer.med}"
    %br
    = "TAC: #{officer.tac}"
    %br
    = "SCI: #{officer.sci}"
  %br
  - if officer.station
    %strong
      Station:
    = officer.station_long_form

  .text-right
    - if officer.station.present?
      .form-controls
        = f.hidden_field(:station, value: nil)
        = f.submit "Dismiss", class: 'btn btn-default'
    - else
      .form-group
        = f.label :station
        - # @todo: Clean this up
        = f.select(:station, options_for_select(officer.options, officer.station.to_s))
      .form-controls
        = f.submit "Assign", class: 'btn btn-default'
