.col-xs-6.col-xs-offset-2.game-alerts-lg.hidden-xs.hidden-sm.visible-md.visible-lg
  = "#{@game.officers.sample.name}: \"#{flash[:game]}\"" if flash[:game]
.col-xs-6.col-xs-offset-2.game-alerts-xs.visible-xs.visible-sm.hidden-lg.hidden-md
  = "#{@game.officers.sample.name}: \"#{flash[:game]}\"" if flash[:game]
