= "Morale: #{@game.supply.cmd}/#{@settings.supply_max}"
%br
= "Parts: #{@game.supply.eng}/#{@settings.supply_max}"
%br
= "Meds: #{@game.supply.med}/#{@settings.supply_max}"
%br
= "Ammo: #{@game.supply.tac}/#{@settings.supply_max}"
%br
= "Labs: #{@game.supply.sci}/#{@settings.supply_max}"
