- stats = @game.stats
%strong
  CMD:
= "#{stats[:cmd]}"
%br
%strong
  ENG:
= "#{stats[:eng]}"
%br
%strong
  MED:
= "#{stats[:med]}"
%br
%strong
  TAC:
= "#{stats[:tac]}"
%br
%strong
  SCI:
= "#{stats[:sci]}"
