.container-fluid
  .row
    .col-sm-4
      %h2
        Current Game
      - if @game && @game.supply
        .bordered.padded
          Ship:
          = @game.ships.first.name
          %br
          Distance Traveled:
          = @game.progress
          %br
          Points:
          = @game.points
          %br
          .text-right
            = link_to('End', game_path(id: @game.id), class: 'btn btn-default', method: :delete)
            = link_to('Continue', game_path(id: @game.id), class: 'btn btn-default')
      - else
        .text-left
          = link_to('New', new_game_path, class: 'btn btn-default btn-lg')

    .col-sm-4
      %h2
        Player Info
      = render 'players/form', player: current_user.player

    .col-sm-4
      %h2
        Global Bests

      %h3
        High Score:
      - Record.all.order("points DESC").limit(5).each do |record|
        = "#{record.captain_name} #{record.points} points while commanding #{record.ship_name}"
        %br

      %h3
        Furthest Distance Reached:
      - Record.all.order("progress DESC").limit(5).each do |record|
        = "#{record.captain_name} #{record.progress} points while commanding #{record.ship_name}"
        %br
        %br

      %h2
        Personal Bests

      %h3
        High Score:
      - Record.where(player_id: current_user.player.id).order("points DESC").limit(5).each do |record|
        = "#{record.captain_name} #{record.points} points while commanding #{record.ship_name}"
        %br

      %h3
        Furthest Distance Reached:
      - Record.where(player_id: current_user.player.id).order("progress DESC").limit(5).each do |record|
        = "#{record.captain_name} #{record.progress} points while commanding #{record.ship_name}"
        %br
        %br
