.container-fluid.chrome
  .row
    .col-sm-2
      %strong
        Ship:
      %br
      .text-right
        = @game.ships.first.name
      %br

      %strong
        Stats:
      %br
      .text-right
        = render 'games/stats'
      %br

      %strong
        Resources:
      %br
      .text-right
        = "Morale: #{@game.supply.cmd}"
        %br
        = "Spare Parts: #{@game.supply.eng}"
        %br
        = "Medicine: #{@game.supply.med}"
        %br
        = "Ammo: #{@game.supply.tac}"
        %br
        = "Equipment: #{@game.supply.sci}"
      %br

    #viewscreen.col-sm-8.bordered{ data: { challenge: "#{@challenge}" } }
      - unless @challenge
        .stars
        .twinkling
        .clouds
      .container-fluid
        .row
          %br
          %br
        .row
          .col-xs-10.col-xs-offset-1
            - if @challenge
              = render 'challenges/detail'
        .row
          %br
          %br
    .col-sm-2
      .text-center
        - unless @challenge
          = link_to('Engage Engines', game_path(id: @game.id, params: { direction: 'forward' }), class: 'btn btn-default', 'data-turbolinks' => false)
          %br
          %br
      %strong
        Fuel:
      %br
      .text-right
        = "#{@game.supply.fuel}/100"
      .progress
        .progress-bar{role: "progressbar", aria: {valuenow: "#{@game.supply.fuel}", valuemin: "0", valuemax: "100"}, style: "width: #{@game.supply.fuel}%" }
      %br
      .text-left.bordered.padded
        %strong
          Region of Space
        %br
        = "#{@region.name}"
        %br
        %strong
          Distance Traveled:
        = @game.progress
        %br
        %strong
          Points:
        = @game.points

  .row
    .col-sm-1
    - @game.officers.each do |officer|
      .col-sm-2
        .text-center
          %strong
            = officer.name
            %br
          = officer.station_long_form
