.container-fluid.chrome
  .row
    .col-md-2
      .bordered.padded
        %h4
          = @game.ships.first.name
        Captain:
        %br
        = current_user.player.name

      %strong
        Stats:
      %br
      .text-right
        = render 'games/stats'

      .bordered.padded
        .text-center
          = "#{@region.name}"
          %br
          Region
          %br
          = "#{@game.progress}"
          %br
          Units from Star Base
    #viewscreen.bordered.col-sm-12.col-xs-12.col-md-5.col-lg-5{ data: { challenge: "#{@challenge}" } }
      = render 'games/viewscreen'

    .col-md-3
      .text-center
        - if @challenge
          = render 'games/tactical_officer_commands'
        - else
          = render 'games/officer_commands'

        %br
        %br
      %strong
        Fuel:
      %br
      .text-right
        = "#{@game.supply.fuel}/#{@settings.max_fuel}"
      .progress
        .progress-bar{role: "progressbar", aria: {valuenow: "#{@game.supply.fuel}", valuemin: "0", valuemax: "#{@settings.max_fuel}"}, style: "width: #{@game.supply.fuel * @settings.max_fuel_percentage_correction}%" }

      %strong
        Shields:
      %br
      .text-right
        = "#{@game.supply.shields}/#{@settings.max_shields}"
      .progress
        .progress-bar{role: "progressbar", aria: {valuenow: "#{@game.supply.shields}", valuemin: "0", valuemax: "#{@settings.max_shields}"}, style: "width: #{@game.supply.shields * @settings.max_shields_percentage_correction}%" }

    .col-md-2
      .text-center
        = render 'games/captain_commands'
        %br
        %br

      .bordered.padded
        %strong
          Resources:
        %br
        .text-right
          = render 'games/resources'
  .row
    .col-md-1
    - @game.officers.each do |officer|
      .col-sm-2
        .text-center
          %strong
            = officer.name
            %br
          = officer.station_long_form
