.container-fluid.chrome
  .row
    .col-xs-8.col-xs-offset-2.game-alerts
      - if flash[:game]
        %strong
          = "#{@game.officers.find_by(station: 'CMD').name}: "
        = "\"#{flash[:game]}\""
  .row
    .col-sm-2
      .bordered.padded
        %h4
          = @game.ships.first.name
        Captain:
        %br
        = current_user.player.name

      %strong
        Stats:
      %br
      .text-right
        = render 'games/stats'
      %br

      %strong
        Resources:
      %br
      .text-right
        = "Morale: #{@game.supply.cmd}"
        %br
        = "Spare Parts: #{@game.supply.eng}"
        %br
        = "Medicine: #{@game.supply.med}"
        %br
        = "Ammo: #{@game.supply.tac}"
        %br
        = "Equipment: #{@game.supply.sci}"
      %br

    #viewscreen.col-sm-8.bordered{ data: { challenge: "#{@challenge}" } }
      - unless @challenge
        .stars
        .twinkling
        .clouds
      .container-fluid
        .row
          %br
          %br
        .row
          .col-xs-10.col-xs-offset-1
            - if @challenge
              = render 'challenges/detail'
        .row
          %br
          %br
    .col-sm-2
      .text-center
        - active = (@challenge || @game.supply.fuel < 1) ? 'disabled' : ''
        = link_to('Engage Engines', game_path(id: @game.id, params: { direction: 'forward' }), class: "btn btn-default #{active}", 'data-turbolinks' => false)
        %br
        %br
      %strong
        Fuel:
      %br
      .text-right
        = "#{@game.supply.fuel}/#{@settings.max_fuel}"
      .progress
        .progress-bar{role: "progressbar", aria: {valuenow: "#{@game.supply.fuel}", valuemin: "0", valuemax: "#{@settings.max_fuel}"}, style: "width: #{@game.supply.fuel * @settings.max_fuel_percentage_correction}%" }

      %strong
        Shields:
      %br
      .text-right
        = "#{@game.supply.shields}/#{@settings.max_shields}"
      .progress
        .progress-bar{role: "progressbar", aria: {valuenow: "#{@game.supply.shields}", valuemin: "0", valuemax: "#{@settings.max_shields}"}, style: "width: #{@game.supply.shields * @settings.max_shields_percentage_correction}%" }

      %br
      .text-left.bordered.padded
        %strong
          Region of Space
        %br
        = "#{@region.name}"
        %br
        %strong
          Distance Traveled:
        = "#{@game.progress} units"
        %br
        %strong
          Points:
        = @game.points

  .row
    .col-sm-1
    - @game.officers.each do |officer|
      .col-sm-2
        .text-center
          %strong
            = officer.name
            %br
          = officer.station_long_form
