= form_for(discovery) do |f|
  %h3
    = "#{discovery.category.capitalize}"
  .form-group
    = f.label :name
    = f.text_field :name
  .form-group
    = f.label :description
    = f.text_area :description
  .form-controls
    .text-right
      = f.submit 'Submit', class: 'btn btn-default'
