.centered
  .panel.panel-default
    .panel-body
      = @challenge.description
    .panel-footer
      %strong
        = "#{@game.officers.sample.name}: "
      = "\"#{@challenge.name.capitalize}!\""
      %br
      %strong
        = "#{@game.officers.find_by(station: 'TAC').name}: "
      = "\"Threat level, #{@challenge.level}!\""
      %br
      %strong
        = "#{@game.officers.find_by(station: 'CMD').name}: "
      = "\"Recommended tactic, #{@challenge.trait}.\""
      %br
      %strong
        = "#{@game.officers.find_by(station: 'CMD').name}: "
      "Orders Captain?"
