%nav.navbar.navbar-default{ role: 'navigation' }
  .container
    .navbar-header
      %button.navbar-toggle{ data: { target: '#bs-example-navbar-collapse-1', toggle: 'collapse', type: 'button' } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Quest', root_path, { class: 'navbar-brand' }
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
        - if current_user
          %li
            = link_to 'Menu', games_path
          - if current_user.game
            %li
              = link_to 'Continue', game_path(id: current_user.game.id)
          %li
            = link_to 'Discoveries', discoveries_path
          %li
            = link_to 'Settings', edit_setting_path(id: @settings.id)
          %li
            = link_to 'Sign out', destroy_user_session_path, { method: :delete }
        - else
          %li
            = link_to 'Sign in', new_user_session_path
